# Ignore node_modules, it will be installed in the container
node_modules

# Ignore build output
build

# Ignore .env files, these should be handled by Docker Compose environment variables or secrets
.env*

# Ignore Docker specific files if they are in the context
Dockerfile
docker-compose.yml
.dockerignore

# Ignore git history
.git
.gitignore

# Ignore OS-specific files
.DS_Store
Thumbs.db
